@inherits ProductSearchDialogBase
@using Registry.Models

@if (ShowDialog)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Search products</h5>
                    <button type="button" class="close" data-dismiss="modal" @onclick="Close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="as-flex">
                        <div class="occupy-all-flex">
                            <RadzenTextBox @bind-Value="@SearchText" 
                                           Placeholder="Search products" class="search-text" />
                        </div>
                        <div class="search-button-container">
                            <DxButton RenderStyle="ButtonRenderStyle.Primary" CssClass="search-button" Click="@Search" IconCssClass="fas fa-search right-space">
                            </DxButton>
                        </div>
                    </div>
                    <RadzenGrid AllowPaging="true"
                                PageSize="@InitialProductPageSize"
                                Data="Products"
                                Count="Count"
                                LoadData="@LoadProducts"
                                RowExpand="@OnRowExpanded"
                                TItem="ProductAggregate">
                        <Columns>
                            <RadzenGridColumn TItem="ProductAggregate" Property="@nameof(Models.ProductAggregate.Id)" Title="ID" />
                            <RadzenGridColumn TItem="ProductAggregate" Property="@nameof(Models.ProductAggregate.Name)" Title="Name" />
                            <RadzenGridColumn TItem="ProductAggregate" Property="@nameof(Models.ProductAggregate.Description)" Title="Description" />
                            <RadzenGridColumn TItem="ProductAggregate" Property="@nameof(Models.ProductAggregate.Quantity)" Title="Quantity">
                                <Template Context="data">
                                    <RadzenNumeric TItem="int" @bind-Value="data.Quantity" Min="0" />
                                </Template>
                            </RadzenGridColumn>
                            <RadzenGridColumn TItem="ProductAggregate" Type="string" Title="Actions">
                                <Template Context="data">
                                    <RegistryActions ProductAggregate="data"
                                                     UserId="@UserId"
                                                     OnUpdated="@RefreshData"
                                                     OnValidationError="@ShowValidationError">
                                    </RegistryActions>
                                </Template>
                            </RadzenGridColumn>
                        </Columns>
                        <Template>
                            @if (@PagedReviews?.Data.Count() == 0)
                            {
                                <div>Loading...</div>
                            }

                            <RadzenDataList AllowPaging="true" PageSize="@InitialReviewPageSize" Data="@PagedReviews?.Data" Count="PagedReviews.TotalCount" TItem="Review">
                                <Template Context="review">
                                    <div>
                                        <div class="as-flex">
                                            <div class="occupy-all-flex review-title">@review?.Title</div>
                                            <div class="review-date">Submitted on @review?.SubmitDate.ToString("dd/MMM/yyyy")</div>
                                        </div>
                                        <div>
                                            <p class="card-text">@review?.Description</p>
                                        </div>
                                    </div>
                                </Template>
                            </RadzenDataList>
                        </Template>
                    </RadzenGrid>
                </div>
            </div>
        </div>
    </div>
    <div class="target-container" @onclick="@(() => PopupVisible = true)"></div>
    <DxPopup HeaderText="Error"
             @bind-Visible="@PopupVisible">
        <Content>
            <p>
                Quantity has to be greater than 0.
            </p>
        </Content>
    </DxPopup>
}
