@page "/"
@inherits IndexBase
@using Registry.UI.Components
@using Registry.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>Welcome to my gift registry!</h3>

<RadzenButton Click="@Search" class="search-button" Icon="search" Text="Search Products">
</RadzenButton>
<RadzenGrid AllowPaging="true"
            PageSize="@InitialProductPageSize"
            Data="@Products"
            TItem="ProductAggregate">
    <Columns>
        <RadzenGridColumn TItem="ProductAggregate" Property="@nameof(Models.ProductAggregate.Id)" Title="ID" />
        <RadzenGridColumn TItem="ProductAggregate" Property="@nameof(Models.ProductAggregate.Name)" Title="Name" />
        <RadzenGridColumn TItem="ProductAggregate" Property="@nameof(Models.ProductAggregate.Description)" Title="Description" />
        <RadzenGridColumn TItem="ProductAggregate" Property="@nameof(Models.ProductAggregate.Quantity)" Title="Quantity">
            <Template Context="data">
                <RadzenNumeric TItem="int" @bind-Value="data.Quantity" Min="1" />
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="ProductAggregate" Type="string" Title="Actions">
            <Template Context="data">
                <RegistryActions ProductAggregate="data"
                                 UserId="@UserId"
                                 OnUpdated="@RefreshData"
                                 OnValidationError="@ShowValidationError">
                </RegistryActions>
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>
<ProductSearchDialog @ref="ProductSearchDialog" CloseEventCallBack="@SearchProductsDialog_OnDialogClose"></ProductSearchDialog>